.container-info {
    background-color: chocolate;
    height: 150px;
    margin: 5px;
    padding: 5px;
    width: auto;
    display: block;
}

time {
    background-color: beige;
    margin: 5px;
    padding: 5px;
    display: block;
}

span {
    background-color: aqua;
    margin: 5px;
    padding: 5px;
    display: block;
}

h3 {
    background-color: darkgray;
    margin: 5px;
    padding: 5px;
    display: block;
}